#product-list{
    display: flex;
    flex-wrap: wrap;
}

#product-list .product-img{
    width: 100%;
    height: auto;
    max-width: 300px;
}

#product-list>div{
    margin: auto;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

#products-load{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#products-load>button{
    background-color: #f000;
    color: black;
    border: 1px solid black;
    padding: 10px;
}

#product-list>div>div{
    line-height: 30px;
    width: 95%;
    font-weight: 600;
    text-align: center;
}

#product-list>div>div>span{
    font-weight: 400;
}

.elems-list #product-list>div{
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : space-around;
    border-bottom: 1px solid #dadada;
    flex-direction: unset;
    padding: 15px 0;
}

.elems-list #product-list{
    display: block;
}

.elems-list #product-list .product-img{
    width: auto;
    /* max-height: 120px; */
}

@media only screen and (max-width: 817px) {
    #product-list>div{
        width: 50%;
        margin: 20px auto;
        flex-basis: 50%;
    }
    #products-list-view{
        width: 85%;
    }
}

@media only screen and (max-width: 450px) {

    #product-list>div{
        flex-basis: 100%;
    }

    #product-list>div>div{
        font-size: 12px;
        width: 110px;
    }
    .elems-list #product-list>div{
        justify-content: space-between;
    }
}