.product-slider-parent{
    width: 97%;
    margin: 50px auto 0;
}

.slick-slider{
    width: 95%;
    margin: auto;
}

.top-product-slider-elems{
    width: 100% !important;
}

.slick-slide div{
    display: flex;
    justify-content: center;
}

.product-image-div{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.product-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.product-paragraph p{
    width: 80%;
    text-align: center;
}

.arrows{
    top : 0 !important;
    height: 100%;
    display: flex !important;
    align-items: center;
    z-index: 999999;
    position: absolute;
}

.product-slider-parent .left-arrow{
    left: -25px;
}

.product-slider-parent .right-arrow{
    right: -25px;
}

.product-slider-parent .arrows img{
    width : 20px ;
    height: 20px ;
}

.arrows img:hover{
    cursor: pointer;
}

.product-image-div:hover .product-icons img{
    display: block;
}

.product-icons span img{
    display: none ;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}