#detail-zoom{
    margin-top: 35px;
}

#detail-zoom>div>img{
    width: 80%;
    margin: auto;
    max-height: 90vh;
    max-width: 650px;
}

#detail-zoom>nav{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
}

#detail-zoom>div{
    height: 100vh;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
}

#detail-zoom>nav>button{
    right: 70px;
    height: 30px;
    border: none;
    font-size: 30px;
    position: absolute;
    background-color: #fff0;

}

.detail-navigatia{
    width: 50px;
    height: 50px;
}

.detail-navigatia{
    width: 20px;
    height: 20px;
    margin: 10px;
    display: block;
    margin-left: 50px;
    background-repeat: no-repeat;
    background-image: url(./icons/circle.png);
    background-size: 20px;
}

.detail-active{
    background-image: url(./icons/circleNight.png) !important;
}
