#copyright{
    color: black;
    background-color: white;
    width: 100% !important;
    padding: 20px 0 !important;
}

#copyright>p{
    width: 90%;
    margin: auto;
}

#copyright>p:before{
    content: "";
    display: inline-block;
    background-image: url("../icons/copyright.png");
    background-size: 15px;
    background-position: left;
    height: 15px;
    width: 15px;
    margin: 5px 5px 0 0;
}